* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Montserrat Alternates';
  text-decoration: none;
}

.header {
  width: 100vw;
  height: 80px;

  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid black;

  .header-logo_nav {
    width: 650px;
    height: 100%;

    display: flex;
    align-items: center;

    .header-logo {
      margin-left: 10vw;
      width: 82px;
      height: 56px;
    }

    .header-nav {
      width: 262px;
      height: 15px;

      margin-left: 5.7vw;

      .header-nav_list {
        width: 100%;
        list-style: none;

        display: flex;
        justify-content: space-between;

        .header-nav_link {
          color: #000;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }

  .header-user {
    width: 166px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10vw;

    .header-signUp_btn {
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: #ffb36c;

      color: #000;
      font-size: 12px;
      font-weight: 500;

      .header-user_img {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 834px) {
  .header {
    height: 70px;
    .header-logo_nav {
      width: 433px;

      .header-logo {
        width: 54px;
        height: 36px;
      }

      .header-nav {
        width: 232px;
        height: 12px;

        margin-left: 6.83vw;

        .header-nav_link {
          font-size: 10px;
        }
      }
    }

    .header-user {
      width: 138px;

      .header-signUp_btn {
        padding: 8px 16px;
        font-size: 10px;
      }

      .header-user_img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
