@media (min-width: 1024px) {
  .section-4 {
    width: 100vw;
    height: 275px;
    h2 {
      position: relative;
      left: 150px;
      color: #000;
      font-family: 'Montserrat';
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .custom-swiper-section-4 {
      top: 40px;
      width: 80vw;
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s, filter 0.3s;
      }
      .slide {
      }
      .swiper-slide img {
        border-radius: 0;
        width: 310px;
        height: auto;
      }

      .swiper-slide-prev,
      .swiper-slide-next {
        transform: scale(0.8);
        filter: brightness(50%);
      }

      .swiper-slide-active {
        transform: scale(1);
        filter: brightness(100%);
      }
    }
  }
}

@media (max-width: 1024px) {
  .section-4 {
    display: none;
  }
}
